body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
        background-color:  #e9e9e9;
    font-family: sans-serif;    
}

*{
    margin: 0;
    padding: 0;
}

main{
    width: 400px;
    height: max-content;
    min-height: 300px;
    color: #fff;
    border-radius: 30px;
    background-color: #c5cbcf;
    box-shadow: inset -20px 0px 20px #a7adb1,
                inset 20px 0px 20px #f5fafeda,
                    20px 10px 20px #bec4c9d3;
    padding: 30px;
}
main form{
    display: flex;
    justify-content: space-between;
    border: none;
    border-radius: 30px;
    box-shadow: inset 2px 2px 2px -1px #a7adb1,
                inset -2px -2px 2px -1px #f5fafeda;
}
main form input,
main form button{
    border: none;
    background-color: transparent;
    outline: none;
    padding: 10px;
}
main form i{
    opacity: 0.7;
}

main .result{
    padding-top: 20px;
    text-align: center;
}
main .result .name{
    font-weight: bold;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
main .temperature img{
    width: 150px;
    filter: drop-shadow(
        0 30px 50px #000
    );

}

main .temperature figcaption{
    font-size: 3em;
}

main .description{
    padding: 10px 0 30px;
}

main ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

main li{
    background-color: #8fb1be;
    color: #fff;
    border-radius: 10px;
    box-shadow: inset -1px 0px 1px #a7adb1,
                inset 4px 0px 4px #f5fafeda,
                    5px 1px 0px #bec4c9d3;
    padding: 20px 10px;
}

main li i{
    font-size: 2em;
    display: block!important;
    margin: 20px 0;
}
main li:nth-child(2){
    background-color: #a0cbad;
}
main li:nth-child(3){
    background-color: #a97a82;
}

main.error{
    animation: errorEffect 0.4s linear 1;
}
@keyframes errorEffect{
    0%{
        transform: translate(10px, 5px);
    }
    25%{
        transform: translate(-5px, 0);
    }
    50%{
        transform: translate(8px, 2px);
    }
    75%{
        transform: translate(-2px, 5px);
    }
    100%{
        transform: translate(0, 0);
    }
}